/* General Start */

h1, h3 {
    color: #66BFBF;
    text-align: center;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}

body {
    background-color: #EAF6F6;
}

/* General End */


img {
    border-radius: 50%;
}

p {
    text-align: center;
}